<!doctype html>
<html lang="en">
<head>
    <title>{{ command.name|title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
<a href="/">Back to index</a>
<h1>{{ command.name|title }}</h1>
<div class="command-help">{{ command.help|capitalize }}</div>

<form action="/exec/{{ command_path }}" method="post" class="click-web-form">
    {% for level in levels %}
        <div class="command-header">{{ level.command.name }}</div>
        {% for field in level.fields %}
            <div class="parameter {{ field.param }} {{ field.type }}">
                {{ field.human_readable_name|capitalize }}
                {% for arg in range(field.nargs) %}
                    <input name="{{ field.name }}"
                           type="{{ field.type }}"
                            {% if field.step %}
                           step="{{ field.step }}"
                            {% endif %}
                           value="{{ field.value }}"
                            {{ field.checked }}
                            {{ 'required' if field['required'] else '' }}


                    >
                    <div class="help">{{ field.desc|capitalize }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit">
</form>
</body>
</html>