<!doctype html>
<html lang="en">
<head>
    <title>{{ tree.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='click_web.css') }}"/>
</head>
<body>
<h1>{{ tree.name }} &ndash; {{ tree.help }}</h1>

<ul>
    <ul>
        {%- for command in tree.childs recursive %}
            <li>
                {% if not command.is_group %}
                    <a href="{{ command.path }}">{{ command.name }}</a> &ndash; {{ command.help }}
                {% else %}
                    {{ command.name }} &ndash; {{ command.help }}
                {% endif %}
                {%- if command.childs -%}
                    <ul class="submenu">{{ loop(command.childs) }}</ul>
                {%- endif %}</li>
        {%- endfor %}
    </ul>

</ul>

</body>
</html>