<!doctype html>
<html lang="en">
<head>
    <title>{{ tree.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='click_web.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='panes.css') }}"/>
    <script src="{{ url_for('static', filename='split.js') }}"></script>
    <script src="{{ url_for('static', filename='panes.js') }}"></script>
    <script src="{{ url_for('static', filename='open_form.js') }}"></script>
    <script src="{{ url_for('static', filename='post_and_read.js') }}"></script>


</head>
<body>

    <div class="split content split-horizontal" id="left-pane">
        <h3>{{ tree.help }}</h3>

        <ul>
            <ul>
                {%- for command in tree.childs recursive %}
                    <li title="{{ command.help|replace('\b', '')|escape }}">
                        {% if not command.is_group %}
                            <a title="{{ command.help|replace('\b', '')|escape }}"
                               href="#" onclick="openCommand('{{ command.path }}', true, this);">{{ command.name }}</a>
{#                            &ndash; {{ command.short_help }}#}
                        {% else %}
                            {{ command.name|title }}
                            <div class="help">&ndash; {{ command.short_help }}</div>
                        {% endif %}
                        {%- if command.childs -%}
                            <ul class="submenu">{{ loop(command.childs) }}</ul>
                        {%- endif %}</li>
                {%- endfor %}
            </ul>

        </ul>
    </div>
    {#    <div class="panes-separator" id="panes-separator"></div>#}
    <div class="split content split-horizontal" id="right-pane">

        <div id="form-div">
            <p>Select a command in left pane.</p>
        </div>
    </div>

</body>
</html>