body {
    font-family: Arial, Verdana, Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    color: rgba(0, 0, 0, 0.87);
}

.command-tree {
}

.command-tree .help:before {
    content: " – ";
}

.command-tree .help {
    margin-left: 0px;
}

.command-tree .command-selected {
    font-weight: bold;

}

h1 {
    color: rgba(0, 0, 0, 0.54);
}

.command-title {
    margin-top: 1px;
}

.command-title-parents {
    margin-bottom: 1px;
    font-size: small;
    color: rgba(0, 0, 0, 0.50);
}

.command-help {
    font-size: large;
}

.pure-form .command-header {
    color: rgba(0, 0, 0, 0.60);
    font-size: small;
}

.help {
    font-size: small;
    color: gray;
    display: inline;
    margin-left: 10px;
}

input[type=number] {
    font-family: monospace;
}

.back-links {
    display: block;
    margin-bottom: 1em;
    float: right;
}

.command-line {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    margin-bottom: 1em;
    overflow: hidden;
}

.script-output {
    border: 3px;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.30);;
    display: block;
    width: fit-content;
    min-width: 95%;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    margin-bottom: 1em;
    padding: 7px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #0000FF
}

a:hover {
    color: #9090FF
}

a:active {
    color: #0090FF
}

a:focus {
    color: #0000FF;
}
