body {
    font-family: Arial, Verdana, Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    color: rgba(0, 0, 0, 0.87);
    background-color: #FFF;
}

h1 {
    color: rgba(0, 0, 0, 0.54);
}
.command-help {
    /*color: gray;*/
    font-size: large;
    /*padding: 10px;*/
}

.command-header {
    color: gray;
    font-size: small;
}

.help {
    font-size: small;
    color: gray;
    display: inline;
}

.click-web-form {
    /*background-color: powderblue;*/
    /*padding: 10px;*/
}

.click-web-form input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.click-web-form input {
    background-color: lightcyan;
    margin: 10px;
}

.parameter {
    font-size: large;
}

.argument {
    font-size: large;
}

.flag {
    margin: 20px;
}

input[type=number] {
    font-family: monospace;
}

fieldset {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: none;
}